extends layout

block content
	strong= message
		
	br
	br
	
	=session
	
	
	br
	br
		
	a(href="/users/logout") logout
	br
	br
	br
	

		
	input#pac-input(style="width:500px")
	input#place-id(type="hidden")
	
	
	br
	br
	br
	
	
	br
	br
	br
	
	h2 Sign Up
	form(action="/users/signup", method="post")
		| Username:
		input(type="text" name="username")
		br
		br
		| Email:
		input(type="text" name="email")
		
		button Get token

	br
	br
	br
	
	h2 Sign In
	form(action="/users/login", method="post")
		| Email:
		input(type="text" name="email")
		
		button Get token

	br
	br
	br
	
	h1= title
	p Welcome to #{title}
