doctype html
html
	head
		base(href="/")
		
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet' href='/modules/bootstrap/css/bootstrap.min.css')
		
		script(src='/modules/angular2/angular2-polyfills.js')
		script(src='/modules/systemjs/system.src.js')
		script(src='/modules/rxjs/Rx.js')
		script(src='/modules/angular2/angular2.dev.js')
		script(src='/modules/angular2/router.dev.js')
		script(src='/modules/angular2/http.dev.js')
		
	body
	
		a(href="/heroes")
	
		app Loading...	


		script.
			// System.import('bootstrap');
			
			System.config({
				baseURL: '/',
				// transpiler: 'typescript', 
				packages: {        
					app: {
						format: 'register',
						defaultExtension: 'js'
					}
				}
			});
			
			
			System.import('/app/boot')
				.then(null, console.error.bind(console));		