doctype html
html
	head
		title Osliki.Net

		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(charset="utf-8") 
		
		base(href="/")

		
		link(rel='stylesheet' href='/modules/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/splash.css')
		link(rel='stylesheet', href='/stylesheets/mydatepicker.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		
		script(src='/modules/angular2/angular2-polyfills.js')
		script(src='/modules/systemjs/system.src.js')
		script(src='/modules/rxjs/Rx.js')
		script(src='/modules/angular2/angular2.dev.js')
		script(src='/modules/angular2/router.dev.js')
		script(src='/modules/angular2/http.dev.js')

		//script(src='/modules/ng2-datepicker/ng2-datepicker.js')		
		//script(src='/modules/moment/moment.js')		
		
	body(class="modal-open1")
		

			
			
		app
			block content

				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		// a(href="/users/logout") logout
		
		// br
		// h2 Sign Up
		// form(action="/users/signup", method="post")
			// | Username:
			// input(type="text" name="username")
			// br
			// br
			// | Email:
			// input(type="text" name="email")
			
			// button Get token
			
		// br
		
		
		
	
		// h2 Sign In
		// form(action="/users/login", method="post")
			// | Email:
			// input(type="text" name="email")
			
			// button Get token
		
		// br				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
		script.
			// System.import('bootstrap');
			
			window.user = {
				id: '#{user.id}',
				name: '#{user.name}'
			};
			
			
			System.config({
				baseURL: '/',
				// transpiler: 'typescript', 
				packages: {
					app: {
						format: 'register',
						defaultExtension: 'js'
					}
				}/*,
				map: {
				  "ng2-datepicker": "node_modules/ng2-datepicker/ng2-datepicker.js",
				  "moment": "modules/moment/moment.js"
				}*/
			});
			
			
			System.import('/app/boot')
				.then(null, console.error.bind(console));




			/*transpiler: 'typescript',
				baseURL: "/dist",
				typescriptOptions: {
					emitDecoratorMetadata: true,
					module: "commonjs",
					experimentalDecorators: true
				},
				map: {
					app: 'src',
					typescript: 'node_modules/typescript/lib/typescript.js',
					angular2: 'node_modules/angular2',
					rxjs: 'node_modules/rxjs'
				},
				packages: {
					app: {
						defaultExtension: 'ts',
						main: 'app.ts'
					},
					angular2: {
						defaultExtension: 'js'
					},
					rxjs: {
						
						defaultExtension: 'js'
					}
				}
			});*/
				