<div class="chat-list" (window:resize)="expand()"> <!-- [scrollTop]="scrollHeight" [style.maxHeight]="height"  [style.maxHeight]="maxHeight"postRender="scrollDown()"-->
	
	<table class="table {{ message.user._id === configUser.id ? 'chat-message-my' : '' }}" *ngFor="#message of messages; #idx = index;" >
		<tr>
			<td class="chat-avatar avatar">
				<img src="http://gravatar.com/avatar/{{ message.user.gravatar_hash }}?d=monsterid" alt="{{ message.user.name }}" width="40px" height="40px" />
			</td>
			<td>
				<div class="chat-message-info">
					<b>{{ message.user.name }}</b>
					<small>
						<small class="text-muted">{{ message.created_at | toDate | date: 'mm:HH d MMM y' }}</small>
					</small>
				</div>

				<p class="pre-wrap">{{ message.message }}</p>
			</td>
		</tr>
	</table>
</div>

<div class="chat-textarea">
	<form action="/messages/add" method="post" [ngFormModel]="form" (submit)="onSubmit(elComment)"> <!--  -->
		<input *ngIf="orderId" name="order" type="hidden" [(ngModel)]="formModel.order" [ngFormControl]="form.controls.order" />
		<input *ngIf="corrId" name="corr" type="hidden" [(ngModel)]="formModel.corr" [ngFormControl]="form.controls.corr" />
		
		<div class="form-group">			
			<textarea class="form-control" name="message" [(ngModel)]="formModel.message" [ngFormControl]="form.controls.message" placeholder="Message" maxlength="1000" #elComment></textarea>
		</div>
		
		<p class="text-right">
			<button type="submit" class="btn btn-warning btn-lg" [disabled]="_busy">{{ _busy ? 'Wait...' : 'Send' }}</button>
		</p>
	</form>
</div>