<div class="page-header">
	<h2>Dialogs</h2>
</div>

<p *ngIf="users && !users.length">No dialogs</p>

<table class="table">
	<tr *ngFor="#user of users">
		<td [hidden]="configUser.id === user._id">
	
				<a [routerLink]="['User', {id: user._id}]">
					<img src="http://gravatar.com/avatar/{{ user.gravatar_hash }}?d=monsterid&s=40" alt="{{ user.name }}" />
				</a>
				<a [routerLink]="['User', {id: user._id}]">{{user.name}}</a>
			
				<p class="text-right">
					<a [routerLink]="['Messages', {id: user._id}]" >
						Go to the dialog 
						<span class="badge" *ngIf="newPrivMessages[user._id] && newPrivMessages[user._id][0]">{{newPrivMessages[user._id][0]}}</span>
					</a>
				</p>
	
		</td>
	</tr>
</table>
