<h2>Requests</h2>

<table>
	<tr>
		<td>
			<ul>
				<li *ngFor="#order of orders; #idx = index" (click)="onClick(order._id)">
					<b>{{ order.status }}</b>
					<br />
					
					{{ order.trip.from }} -> {{ order.trip.to }}
					<br />
					
					{{ order.trip.when | toDate | date: 'longDate' }}
					<br />
					
					<i>{{ order.user.name }}</i>				
				</li>
			</ul>
		</td>
		<td>
			<chat *ngIf="orderId" [orderId]="orderId"></chat>
		</td>
	</tr>
</table>

<!-- <table>
	<tr>
		<th>User</th>
		<th>Trip</th>
		<th>UID</th>
		<th>Status</th>
	</tr>
	<tr *ngFor="#trip of trips; #idx = index">
		<td>
			Trip by <a href="/users/{{ trip.user._id }}">{{ trip.user.name }}</a>
		</td>
		<td>
			{{ trip.from }} -> {{ trip.to }}
			<br />
			{{ trip.when | date: 'longDate' }}
		</td>
		
		<td>
			<a [routerLink]="['RequestsId', {id: trip.orders._id}]">Chat</a>
		</td>
		<td>{{ trip.orders.status }}</td>
	</tr>
</table> -->