<h2>My Trips</h2>

<table class="table">
	<tr *ngFor="#trip of trips; #idx = index">
		<td class="col-xs-4">
			<!-- <b>{{ trip.from }}</b>
			<span class="glyphicon glyphicon-arrow-right"></span>
			<b>{{ trip.to }}</b>
			
			<br />
			
			<i>{{ trip.when | toDate | date: 'longDate' }}</i> -->
			
			<trip-card [trip]="trip"></trip-card>

			<p>
				{{ trip.description }}
			</p>

		</td>
		
		<td class="col-xs-8">

			<h5>Requests for Shipping:</h5>
			
			<p *ngIf="!ordersByTrip[trip._id]"><i>There are no requests yet.</i></p>
			
			<table class="table trips-my-requests">
				<tr *ngFor="#order of ordersByTrip[trip._id]; #orderIdx = index">
					<td>
						<!-- <div>
							<img src="http://gravatar.com/avatar/{{ order.user.gravatar_hash }}?d=retro" alt="{{ order.user.name }}" width="40px" height="40px" />
							<a href="/users/{{ order.user._id }}">{{ order.user.name }}</a>	
						</div> 						<div class="order-info">
							<span class="text-muted">{{ order.created_at | toDate | date: 'longDate' }} | 
							Order status: <b>{{configOrderStatus[order.status]}}</b></span>
						</div>-->
						
						<order-card [order]="order" [user]="order.user"></order-card>
						
						<p class="order-message">
							{{ order.message }}
						</p>
						
						<p class="text-right">
							<a [routerLink]="['Order', {id:order._id}]">Go to negotiation <span class="badge" *ngIf="newMessages[order._id]">{{newMessages[order._id]}}</span></a>
						</p>					
						
						<!-- <td>
							<img src="http://gravatar.com/avatar/{{ order.user.gravatar_hash }}?d=retro" alt="{{ order.user.name }}" />
							<a href="/users/{{ order.user._id }}">{{ order.user.name }}</a>
						</td>
						<td>
							{{ order.message }}						
						</td>
						<td>
							Status: <i>{{ configOrderStatus[order.status] }}</i>
							
							<br>

							<a [routerLink]="['Chat', {id:order._id}]">Chat</a>
						</td> -->
					</td>
				</tr>
			</table>		
		</td>
	</tr>
</table>