extends layout

block content
	div.promo-text.text-center
		p
			br
			| People who travel frequently can deliver anything. For example, you live in the USA and you urgently need any medication or documents from Russia. In our application, you can find someone who is just about to arrive from Moscow to New York. He can help you for money or for free. All actions can be anonymous. 
			br
			Initialization app...
			br
			br
