<div class="page-header">
	<h2>Invoices</h2>
</div>

<ul>
	<li *ngFor="#invoice of invoices">
		<invoice-card [amount]="invoice.amount" [currency]="invoice.currency"></invoice-card>
	</li>
</ul>

<hr />

<form action="/invoices/add" method="post" [ngFormModel]="form" (submit)="_busy ? false : onSubmit(comment)" novalidate>
	<input type="hidden" name="order" value="" [(ngModel)]="model.order" [ngFormControl]="form.controls.order" />
	
	<div class="form-group">	
		<label>Your PayPal id:</label>
		
		<input class="form-control" type="email" name="email" [(ngModel)]="model.dest_id" [ngFormControl]="form.controls.dest_id" placeholder="E-mail" />
	</div>	
	
	<div class="form-group">	
		<label>Amount:</label>
		
		<div class="form-group form-inline">
			
			<input class="form-control" name="amount" type="number" min="0.01" placeholder="25.00" [(ngModel)]="model.amount" [ngFormControl]="form.controls.amount" />
			
			<select class="form-control" name="currency" [(ngModel)]="model.currency" [ngFormControl]="form.controls.currency">
				<option value="USD">USD</option>
				<option value="EUR">EUR</option>
				<option value="CAD">CAD</option>
				<option value="RUB">RUB</option>
			</select>
		</div>
	</div>

	
	<div class="form-group">
		<label>Comment:</label>
		
		<input class="form-control" name="comment" [(ngModel)]="model.comment" [ngFormControl]="form.controls.comment" maxlength="2000" placeholder="Comment" />
	</div>
	
	<div class="form-group help-block text-right">
		<invoice-card [amount]="model.amount" [currency]="model.currency">{{model.amount}}</invoice-card>
	
		<p>All of the money will be stored in the account of our service until the order is executed.</p>
		
		<label class="help-block text-right">I understand and agree with the above <input type="checkbox" [(ngModel)]="model.agree" [ngFormControl]="form.controls.agree" />.</label>
	</div>

		
	<p class="text-right">
		<button type="button" class="btn btn-default btn-lg" (click)="closeModal()" [disabled]="_busy">Cancel</button>
		<button type="submit" class="btn btn-warning btn-lg">{{ _busy ? 'Wait...' : 'Send' }}</button>
	</p>
	
	<div *ngIf="error" class="help-block text-right {{error ? 'has-error' : ''}}">
		{{ error }}
	</div>
</form>