<div (window:keydown)="$event.keyCode == 27 ? closeModal() : true">
	<div class="page-header">
		<h2>Invoices</h2>
	</div>
	
	<div *ngIf="!_loaded">
		Loading...
	</div>
	
	<div *ngIf="_loaded && !invoices || !invoices.length">
		<i>There are no invoices yet.</i>
	</div>
		
	<div class="container container-trips-add">
		
		<div *ngFor="#invoice of invoices">
		<br />
			<invoice-card [invoice]="invoice"></invoice-card>
			
			<div [ngSwitch]="invoice.status">
				<div *ngSwitchWhen="sts.UNPAID" class="text-right">
					<div *ngIf="invoice.corr === configUser.id">
						<div class="help-block text-right">
							<i>All of the money will be held on the account of our service until the order is executed. <!-- If you trust the traveler, you can send the money to him directly.  After 60 days the PayPal fee will not be refunded.--> You have up to 60 days to refund the payment if the money has not yet been transferred to the traveler.</i>
							
							<label class="help-block text-right">I understand and agree with the above <input type="checkbox" [(ngModel)]="model.agree" [ngFormControl]="form.controls.agree" />.</label>
						</div>
						
						<button type="button" class="btn btn-warning" (click)="_busyInvoice ? false : payInvoice(invoice._id)">{{ _busyInvoice ? 'Wait...' : 'Pay' }}</button>
						
						<div *ngIf="errorInvoice" class="help-block text-right {{errorInvoice ? 'has-error' : ''}}">
							{{ errorInvoice }}
						</div>
					</div>
				</div>
				
				<div *ngSwitchWhen="sts.PAID" class="text-right">
					<div class="help-block text-right">
						<i>When you Unhold, all of the money will be transferred to the traveler PayPal account and we will not be able to refund your money. <br /> When you request a refund, it will take some time to determine whether interests of the traveler are taken into account.</i>
						
						<label class="help-block text-right">I understand and agree with the above <input type="checkbox" [(ngModel)]="model.agree" [ngFormControl]="form.controls.agree" />.</label>
					</div>
				
					<button type="button" class="btn btn-warning" (click)="_busyInvoice ? false : unhold(invoice._id)">{{ _busyInvoice ? 'Wait......' : 'Unhold money' }}</button>
					
					<button type="button" class="btn btn-warning" (click)="_busyInvoice ? false : refund(invoice._id)">{{ _busyInvoice ? 'Wait..' : 'Refund' }}</button>
					
					<div *ngIf="errorInvoice" class="help-block text-right {{errorInvoice ? 'has-error' : ''}}">
						{{ errorInvoice }}
					</div>
				</div>
			</div>		
		</div>

		<br />

		<div *ngIf="order.user._id !== configUser.id">
			<hr />
			
			<h3>New invoice</h3>
			
			<br />
			
			<form action="/invoices/add" method="post" [ngFormModel]="form" (submit)="_busy ? false : onSubmit(comment)" novalidate>
				<input type="hidden" name="order" value="" [(ngModel)]="model.order" [ngFormControl]="form.controls.order" />
				
				<div class="form-group">	
					<label>Your PayPal id:</label>
					
					<input class="form-control input-lg" type="email" name="email" [(ngModel)]="model.dest_id" [ngFormControl]="form.controls.dest_id" placeholder="E-mail" />
				</div>	
				
				<div class="form-group">	
					<label>Amount:</label>
					
					<div class="form-group form-inline">
						
						<input class="form-control input-lg" name="amount" type="number" min="0.01" step="5" placeholder="25.00" [(ngModel)]="model.amount" [ngFormControl]="form.controls.amount" />
						
						<select class="form-control input-lg" name="currency" [(ngModel)]="model.currency" [ngFormControl]="form.controls.currency">
							<option value="USD">USD</option>
							<option value="EUR">EUR</option>
							<option value="CAD">CAD</option>
							<option value="RUB">RUB</option>
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label>Comment:</label>
					
					<input class="form-control input-lg" name="comment" [(ngModel)]="model.comment" [ngFormControl]="form.controls.comment" maxlength="2000" placeholder="Comment" />
				</div>
				
				<br />
				
				<div class="form-group help-block text-right">
					<invoice-card [invoice]="{amount: model.amount, currency: model.currency}">{{model.amount}}</invoice-card>
				
					<i>All of the money will be placed on the account of our service.</i>
					
					<label class="help-block text-right">I understand and agree with the above <input type="checkbox" [(ngModel)]="model.agree" [ngFormControl]="form.controls.agree" />.</label>
				</div>

					
				<p class="text-right">
					<button type="button" class="btn btn-default btn-lg" (click)="closeModal()" [disabled]="_busy">Cancel</button>
					<button type="submit" class="btn btn-warning btn-lg">{{ _busy ? 'Wait...' : 'Send' }}</button>
				</p>
				
				<div *ngIf="error" class="help-block text-right {{error ? 'has-error' : ''}}">
					{{ error }}
				</div>
			</form>
			<br />
			<br />
		</div>
		
	</div>
</div>