<table *ngIf="fees" class="table invoice-table">
	<thead>
		<tr *ngIf="invoice._id">
			<td colspan="2">

				<small>
					
					Invoice: #{{invoice._id}}
				</small>
				
				<small>
					<br />
					
					Date: {{ invoice.created_at | toDate | date: 'longDate' }}
				</small>	
				
				<small *ngIf="invoice.dest_id">
					<br />
					
					PayPal id: {{ invoice.dest_id }}		
				</small>			
				
				<small *ngIf="invoice.comment">
					<br />
					
					Comment: {{ invoice.comment }}
				</small>
				
				<br />
					
				Status:
					<b>
						{{ _busy ? '.........' : invoiceStatus[invoice.status] }}
						
						<a *ngIf="invoice.status === sts.UNCLEARED" (click)="_busy ? false : checkStatus($event)" href="#">{{ _busy ? 'Wait...' : 'Check'}}</a>
					</b>
					<span *ngIf="error" class="help-block {{ error ? 'has-error' : '' }}" style="display:inline;">({{ error }})</span>
			</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>For the traveler <span *ngIf="invoice._id">"{{ invoice.user.name }}"</span></td>
			<td>{{ fees.safe }} {{ invoice.currency }}</td>
		</tr>
		
		<tr>
			<td>Osliki.Net fee ({{ fees.nonRefundableOsliki }} {{ invoice.currency }} non-refundable)</td>
			<td>{{ fees.oslikiFee }} {{ invoice.currency }}</td>
		</tr>
		
		<tr>
			<td>PayPal fee ({{ fees.nonRefundablePaypal }} {{ invoice.currency }} non-refundable)</td>
			<td>{{ fees.paypalFee }} {{ invoice.currency }}</td>
		</tr>

		<tr>
			<td><b>Total:</b></td>
			<td><b>{{ fees.total }} {{ invoice.currency }}</b></td>
		</tr>
	</tbody>
</table>