<div class="container" (window:keydown)="$event.keyCode == 27 ? closeModal() : true">
	
	<div class="page-header">
		<h2>Request</h2>		
	</div>
		
	<!-- <div *ngIf="!error && (!order || !order.trip)">Loading...</div> -->
	<div *ngIf="!_loaded">Loading...</div>
	
	<div *ngIf="error"><i>{{ error }}</i></div>

	<div *ngIf="order && order.trip" class="row">
		<div class="col-xs-6">
			<order-card [order]="order" [user]="order.user"></order-card>
		</div>
		<div class="col-xs-6">
			<trip-card [trip]="order.trip" [user]="order.trip.user"></trip-card>
		</div>
		<div class="col-xs-12">
			<p class="order-message pre-wrap">{{ order.message }}</p>
			
			<div *ngIf="configUser.id === order.user._id" [ngSwitch]="order.status" class="text-center">
				<p>
					<span *ngSwitchWhen="sts.NEGOTIATION">
						<button class="btn btn-default" (click)="changeStatus(sts.CANCELLED)">Cancel request</button>
					</span>
					
					<span *ngSwitchWhen="sts.PROCESSING">
						<button *ngIf="isTripPassed" class="btn btn-warning" (click)="changeStatus(sts.FINISHED)">Finish</button>
					</span>
					
					<span *ngSwitchWhen="sts.CANCELLED">
						<button *ngIf="!isTripPassed" class="btn btn-warning" (click)="changeStatus(sts.NEGOTIATION)">Restore</button>
					</span>
					
					<span *ngIf="order.status === sts.PROCESSING || order.status === sts.FINISHED">
						<button *ngIf="order && order._id" class="btn btn-warning" (click)="invoices()">Invoices</button>
						<button *ngIf="isTripPassed" class="btn btn-warning" (click)="sendReview()">Leave feedback</button>						
					</span>
				</p>
			</div>
			
			<div *ngIf="configUser.id === order.trip.user._id" [ngSwitch]="order.status" class="text-center">
				<p>
					<span *ngSwitchWhen="sts.NEGOTIATION">
						<button *ngIf="!isTripPassed" class="btn btn-warning" (click)="changeStatus(sts.PROCESSING)">Accept</button> 
						<button class="btn btn-default" (click)="changeStatus(sts.REFUSED)">Refuse</button>
					</span>
					<span *ngSwitchWhen="sts.PROCESSING">
						<button *ngIf="isTripPassed" class="btn btn-warning" (click)="changeStatus(sts.FINISHED)">Finish</button>
					</span>
					<span *ngSwitchWhen="sts.REFUSED">
						<button *ngIf="!isTripPassed" class="btn btn-warning" (click)="changeStatus(sts.NEGOTIATION)">Restore</button>
					</span>
					<span *ngIf="order.status === sts.PROCESSING || order.status === sts.FINISHED">
						<button *ngIf="order && order._id" class="btn btn-warning" (click)="invoices()">Invoices</button>
						<button *ngIf="isTripPassed" class="btn btn-warning" (click)="sendReview()">Leave feedback</button>
					</span>
				</p>
			</div>
		</div>
	</div>

	<!-- (orderStatus)="onOrderStatus($event)"  -->
	<chat [hidden]="!order || !order.trip" (order)="onOrder($event)" (orderStatus)="onOrderStatus($event)" (error)="onChatError($event)" [(isChatActual)]="isChatActual" [orderId]="orderId"></chat>

</div>