<div class="container">
	<div class="page-header">
		<h2>Requests</h2>
	</div>

	<p *ngIf="!_inited">Loading...</p>

	<p *ngIf="_inited && orders && !orders.length"><i>There are no requests yet.</i></p>

	<table class="table">
		<tr *ngFor="#order of orders; #idx = index">
			<td class="col-xs-8">
				<order-card [order]="order" [user]="order.user"></order-card>
				
				<p class="order-message">
					{{ order.message }}
				</p>
				
				<goto [order]="order" [newMessages]="newMessages"></goto>
			</td>
			<td class="col-xs-4">
				<trip-card [trip]="order.trip" [user]="order.trip.user"></trip-card>				
			</td>
		</tr>
	</table>

	<p *ngIf="_inited && !fullPage" class="text-center">
		<button class="btn btn-default btn-lg" (click)="_busy ? false : loadNext()">{{ _busy ? 'Wait...' : 'Load more' }}</button>
	</p>
</div>