<div class="container">
	<div class="page-header">
		<h2>Trip</h2>
	</div>

	<p *ngIf="!_inited">Loading...</p>

	<div *ngIf="trip && trip.user">
		<p *ngIf="subscribe && subscribe._id" class="text-right" #link>
			<a href="#" (click)="unsubscribe(link)">Unsubscribe from notifications about new trips on this direction.</a>
		</p>
		
		<trip-card [trip]="trip" [user]="trip.user"></trip-card>

		<a href="//www.facebook.com/sharer.php?u={{url}}" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/facebook.png" border="0" alt="Facebook"/></a>
		
		<a href="//twitter.com/share?text={{title}}&url={{url}}" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/twitter.png" border="0" alt="Twitter"/></a>
		
		<a href="https://www.addthis.com/bookmark.php?source=tbx32nj-1.0&v=300&url={{url}}&pubid=ra-573a0d1b71869282&ct=1&title={{title}}&pco=tbxnj-1.0" target="_blank"><img src="https://cache.addthiscdn.com/icons/v3/thumbs/32x32/addthis.png" border="0" alt="Addthis"/></a>

		<br />

		<br />

		<p *ngIf="!editMode" class="pre-wrap">{{ trip.description }}</p>
		
		<form *ngIf="editMode" action="/trips/edit" method="post" [ngFormModel]="form" (submit)="_busy ? false : onSubmit(textarea)">
		
			<input type="hidden" name="id" [(ngModel)]="model.id" [ngFormControl]="form.controls.id" />
			
			<div class="form-group">
				<textarea class="form-control" name="description" [(ngModel)]="model.description" [ngFormControl]="form.controls.description" maxlength="2000" placeholder="Description" #textarea></textarea>
			</div>
			
			<p class="text-right">
				<button type="submit" class="btn btn-warning btn-lg">{{ _busy ? 'Wait...' : 'Update' }}</button>
				<button type="submit" class="btn btn-default btn-lg" (click)="editMode = false" [disabled]="_busy">Cancel</button>
			</p>
		</form>	
		
		<p *ngIf="!editMode && configUser.id === trip.user._id" class="text-right">
			<button class="btn btn-default btn-lg" (click)="editMode = true">Edit</button>
		</p>

		<p *ngIf="trip.user._id != configUser.id" class="text-right">
			<button class="btn btn-default btn-lg" (click)="onRequest(trip)">Request Delivery</button>
		</p>
	</div>

	<div *ngIf="trip && trip.user && configUser.id === trip.user._id">
		<br />
		<br />
		<h4>Requests for shipping:</h4>

		<p *ngIf="orders && !orders.length"><i>There are no requests yet.</i></p>

		<table class="table trips-my-requests">
			<tr *ngFor="#order of orders">
				<td>
					<order-card [order]="order" [user]="order.user"></order-card>
					
					<p class="order-message">
						{{ order.message }}
					</p>
					
					<goto [order]="order" [newMessages]="newMessages"></goto>
					<!-- <p class="text-right">
						<a [routerLink]="['Order', {id:order._id}]">Go to negotiation <span *ngIf="order.msg_cnt">({{ order.msg_cnt }})</span> <!- <span class="badge" *ngIf="newMessages[order._id] && newMessages[order._id][0]">{{newMessages[order._id][0]}}</span> -></a>
					</p> -->			
				</td>
			</tr>
		</table>
	</div>
</div>