video#bgvid, .video-overlay  { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    /* background: url(polina.jpg) no-repeat; */
    background-size: cover; 
}

.video-overlay {
	z-index: -99;
	background: rgba(0, 0, 0, 0.4);
}

body {
	padding: 76px 0px 20px 0px; 

	/*font: 18px Tahoma, sans-serif;
	font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
	font: 18px Georgia, serif;*/
}

.navbar-brand {
	font-weight:bold
}

a:focus, a:hover {
	text-decoration:none;
}

th {
	border-top:0px !important;
}

textarea.form-control {
	height:150px;
}

.page-header {
    border-bottom: 0px solid #eee;
}

.row {
	padding-bottom: 20px;
}


.text-center {
	text-align:center;	
}

.container-trips-add {
	max-width:460px;
}

.container-trips-find {
	max-width:563px;
}

.container-join {
	max-width:335px;
}



.mydp input[readonly] {
    background-color: white;
}
/*
.trips-my */.trip-card .trip-from-to {
	font-weight:bold;
}

.trips-my .requests-table {
	padding-left: 25px;
}
/*
.trips-add-form {
	max-width: 430px;
}

	.trips-add-form .autocomplite {
		width: 183px;
	}
*/	

.arrow-right {
	width:14px;
}

.pre-wrap {
	white-space: pre-wrap;
}

.login-form {
	
}

@media (min-width: 460px) {
	.trips-add-form .form-inline .form-control/*, .login-form .form-control*/ {

		display: inline-block ;
		width: auto;
		vertical-align: middle;
	}

	.trips-add-form .form-inline .form-group/*, .login-form .form-group */{
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	
	.trips-add-form .form-inline .form-control.autocomplite {
		width: 204px;
	}
	
	/*.login-form .form-control.email {
		width: 290px;
	}*/
}

@media (min-width: 555px) {
	.trips-find-form .form-control {

		display: inline-block ;
		width: auto;
		vertical-align: middle;
	}

	.trips-find-form .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}
	
	.trips-find-form .autocomplite {
		width: 204px;
	}	
}

@media (min-width: 768px){
	.navbar {
		border-radius: 0px;
	}
}

.mydp input[readonly] {
    background-color: white;
}

input.input-lg {
	font-size: inherit;
}

.chat-list {
	overflow-y: auto;
	max-height: 200px;
}
	
	
	.chat-list .table {
		margin-bottom: 0px;
	}
	
	.chat-list .table td {
		border: 0px;
	}
	
.chat-textarea textarea.form-control {
	height:90px;
}
	
	/* .chat-list ul {
		position:relative;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		list-style: none;
	}
		.chat-list li {
			position:relative;
			margin: 0px 0px 0px 0px;
			padding: 0px 0px 0px 0px;
			list-style: none;clear: both;
		} */

		.chat-avatar {
			 width:40px;
			/*margin: 0px 10px 10px 0px; */
			
		}
			

		.chat-message-info {
			display: inline-block;
			vertical-align: top;
			line-height: 1;
			
			/* line-height:1;
			position:absolute;
			top: 0px;
			left: 0px;
			padding: 0px 0px 0px 50px; */
			
		}
		
	.chat-message-my {
		
	}
	
		.chat-message-my .chat-avatar {
			width:116px;
			text-align:right;
		}
		


.trip-card {
	padding: 0px 0px 20px 0px;
}


.order-card {
	padding: 0px 0px 20px 0px;
}

	.order-info {
		padding:8px 0px 0px 0px;
	
	}
	
	
/* 
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.navbar-nav > li.notifications > a {
	color: #f0ad4e;
}

 */
 


 
.head {
	padding:0px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width:100%;
	
}
 
	.head .navbar-default{
		background-color: rgba(255,255,255,0.9);
		border: 0px;
		border-bottom: 1px solid #e7e7e7;
		
		/*background-color: #f8f8f8;
		border-color: #e7e7e7;*/
	}
	
	.head .navbar-header {
		float: left !important;
	}

	.head .navbar-right {
		margin: 0px !important;
		float: right!important;
	}

	.head .navbar-right > li {
		float: left !important;
	}
	
	.head .navbar-toggle {
		float: left !important;
		padding-top:6px;
		padding-bottom:6px;
		margin-left:15px;
		margin-right:0px;
	}
	
	.head .navbar-join {
	
	}

	.head .navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.head .join {
		margin-top:8px;
	}

@keyframes pulseNotif {
  50% {
    color: #f0ad4e;
	/*font-size:21px;*/
  }
}

.head li.notifications > a {
	animation: pulseNotif 1s infinite;
	animation-timing-function: ease-out; 
	/*color: inherit;*/
	font-size: 25px;
	padding-bottom: 0;
/* 	height:20px;
	line-height:20px; */
 
}

.navbar-invtoggle, .nav>li.navbar-invtoggle {
	display: none;
}

.toggle-menu {
	position:fixed;
	z-index: 200;
	display: block;
	left:-50%;
	
	top:43px;
	background-color: rgba(255,255,255,0.9);
	border-top: 0px solid #e7e7e7;
	border-right: 1px solid #e7e7e7;
	height:100%;
	width:50%;
	
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

	.toggle-menu li {
		padding-left:20px;
	}
	
	.toggle-menu li>a {
		font-size: 1.3em;
		color: #777;
	}
	
.menu-opened {
	display: block;
    left:0%;
	
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}


@media (min-width: 768px) {
	.navbar-invtoggle, .nav>li.navbar-invtoggle {
		display: block;
	}
	
	.toggle-menu {
		display: none;
	}
	
	/*body {
		padding-top: 0px;
	}

	.head {
		position: static;
	}*/
}

.white-font {
	color: #FFF;
}

.promo-text {
	font-size:2em;
	max-width:700px;
	margin:0px auto 0px auto;
}

.popover-my {
	background-color: rgba(255,255,255,0.9);
	border-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);

	display: block;

	left: -185px;
	padding: 7px 10px;
	position: absolute;
	top: 45px;
	width: 220px;
	z-index: 1;
}


	/*.popover-my:before {
		border-bottom: 7px solid rgba(0,0,0,0.85);
		border-right: 7px solid transparent;
		border-left: 7px solid transparent;
		top: -7px;
		content: '';
		display: block;
		left: 50%;
		margin-left: -7px;
		position: absolute;
	}*/
	
	.popover-my ul, .popover-my li {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		list-style: outside none none;
	}
	
	.popover-my li {
		
	}
	
		.popover-my li a {
			line-height: 20px;

			display: block;
			padding: 10px 15px;
			position: relative;
		}
/*
.btn-default .badge {
	background-color: #f0ad4e;
}
*/

.btn {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

a.avatar {
	display: inline-block;
}

.avatar img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.star, .star-clickable {
	color: #f0ad4e;
}

.star-clickable {
	font-size: 2em;
	cursor:pointer;
}

.star-clickable:hover {
	color: #ec971f;
}

.trip-from-to a {
	display:inline-block;
}

.splash .close {
	font-size: 2.5em;
}

/*.g-recaptcha {display:inline-block;}*/
.has-error .g-recaptcha {
	border: 1px solid #a94442;
}

.subscribe-form {
	width:304px;
	margin-left: auto;
    margin-right: auto;
}
/*
.subscribe-form input.form-control {
	width:210px;
	display:inline-block;
	vertical-align:middle;
}*/

.user-card {
	display:inline-block;
}


	.user-card .user-name {
		display:inline-block;
		max-width: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
			vertical-align: middle;
	}
	
	.page-header .user-card .user-name {
		max-width: inherit;
	}
	
.navbar-right .user-card {
	padding: 5px 5px 5px 0px;
}

.has-error.help-block {
    color: #a94442;
}

/*
@media (min-width: 400px) {
	.trips-find-form .form-control {

		display: inline-block ;
		width: auto;
	}

	.trips-find-form .form-group {

		display: inline-block;
	}
}


.btn-default {
	background: #EBEEE9 none repeat scroll 0 0;
}

.btn-default:hover, .btn-default:focus {
	background: #D2DACC none repeat scroll 0 0;
}

.btn-default:active:hover, .btn-default:active:focus, .btn-default:active  {
	background: #ABB8A1 none repeat scroll 0 0;
}

.glyphicon:before{font-family:'Glyphicons Halflings';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased}
*/
